videos/*
extracted_videos/*
.venv
*.json
/*.csv
Results/*
*.log
*.zip
*.lock
.DS_Store
*.arrow
!models/.keep
!.devcontainer/*.json

speed_videos/*
hf_cache/*
__pycache__/
models/__pycache__/*
Test.ipynb
video_metadata_non_vertex_inj_correct_mcq.csv
.env
video_meta_data/*